<phpunit bootstrap="vendor/autoload.php"
         color="true"
>

         <testsuites>
           <testsuite name="App tests">
             <directory>test</directory>
           </testsuite>
         </testsuites>

         <filter>
           <whitelist>
            <directory suffix=".php">./app</directory>
           </whitelist>
         </filter>
       </phpunit>
